<div class="signup-outer-container">
	<div class="signup-container">
		<h2>Sign up, it's free =)</h2>
		<form>
			<fieldset>
				<p>
					<label for="username">Username</label>
					<input [(ngModel)]="credentials.username" name="username">
				</p>
				<p>
					<label for="password">Password</label>
					<input type="password" [(ngModel)]="credentials.password" name="password">
				</p>
			</fieldset>
			<button type="button" (click)="onButtonClick()">Create Account</button>
		</form>
		<app-flashbar [message]="message">
		</app-flashbar>
	
		<div>
			<a href="/login">Already have an account? Login here.</a>
		</div>
	</div>
</div>