
div.signup-outer-container {
	position: relative;
	height: 200px;
}

div.signup-container {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
	border: 1px solid lightgrey;
	box-shadow: 2px 2px rgba(203, 206, 212, 0.7);
	margin: 0px;
	width: 25%;
	padding: 20px;
	min-width: 400px;
}

div.signup-container h2 {
	padding: 5px;

}

form {
	display: block;
	padding: 5px;
	border-spacing: 20px;

}

fieldset {
	display: table;
	border: none;
}


form p { 
	display: table-row;
}

form input, form label {
	display: table-cell;
}

form input {
	color: black;
}

form label {
	font-weight: bold;
}

button {
	border: 1px solid lightgrey;
	background-color: white;
	padding:5px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	margin: 10px;
	box-shadow: 2px 2px rgba(203, 206, 212, 0.7);
}

button:hover {
	color: white;
	background-color: #1a75ff;
	cursor: pointer;
}

a {
	display: inline-block;
	margin: 10px;
}