
.topbar {
    display: flex;
}

.topbar-username {
    flex : 1;
    font-size: 32px;
    font-weight: bold;
}

.topbar-spacer {
    flex: 1;
}

.topbar-logout {
    width: 100px;
}

.circle-btn-shadow {
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 0px;
    position: relative;
    height: 66px;
    width: 66px;
    transition: border 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
}

.circle-btn-container {
    margin:0px;
    display: inline-block;
    position: absolute;
    border-radius: 32px;
    background-color: white;
    height: 64px;
    width: 64px;
    border: 1px solid rgb(38, 64, 77);
    cursor: pointer;
    user-select: none;
    padding: 0px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.circle-btn-container div {
    color:rgb(38, 64, 77);
    font-size: 64px;
    display: inline-block;
    margin: 0px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.circle-btn-shadow:hover {
    border: 1px solid black;
}

.circle-btn-shadow:hover div {
    color: black;
}

.circle-btn-container:active {
    background-color: rgb(38, 64, 77);
    color: white;
}
.circle-btn-container:active div {
    
    color: white;
}


.todoitems-container {
    max-height: 725px;
    display: inline-block;
    overflow-y: auto;
}